<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteParaxml">
  <test thread-count="5" name="TestfbLogin">
    <classes>
      <class name="yt_TestNG.Parameterization_xml_file"/>
    </classes>
  </test> <!-- TestfbLogin -->
</suite> <!-- SuiteParaxml -->
